* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "montserrat", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "nav"
    "content"
    "footer";
}

header {
  background-color: #0d0d0d;
  position: sticky;
  top: 0;
  grid-area: nav;
}

.content {
  grid-area: content;
}
.barrasuperior {
  display: flex;
}

h1 {
  color: white;
}
.row {
  display: flex;
  justify-content: space-between;
}
.nav {
  margin: /*2.3rem 0 2rem 0*/ 0.2rem;
  visibility: hidden;
}

.logo {
  margin-top: 0.5rem;
}

/* ENCABEZADO INTRO */
.principal {
  padding: 2rem 2rem 8rem 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.884), transparent),
    url(../img/pexels-johannes-plenio-1632790.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.principal__intro {
  padding: 2rem;
  color: white;
  margin: 2rem 2rem 2rem 2rem;
  text-align: center;
  max-width: 100%;
}
.principal__titulo {
  font-size: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
.principal__subtitulo {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 900;
}

/* CONTAINER */
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

/*  CARDS  */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.card__content {
  margin: 1rem;
  text-align: center;
  max-width: 30rem;
  height: 25rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 45);
  border-radius: 15px 15px;
  overflow: hidden;
}
/* CARD 1 */
.card__content--1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(../img/img1.jpg) no-repeat center/150%;
  background-size: cover;
}
.card__content--1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
    url(../img/img1.jpg) no-repeat center/150%;
  background-size: cover;
}
/* CARD 2 */
.card__content--2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(../img/img2.jpg) no-repeat center/150%;
  background-size: cover;
}
.card__content--2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
    url(../img/img2.jpg) no-repeat center/150%;
  background-size: cover;
}
/* CARD 3 */
.card__content--3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(../img/img3.jpg) no-repeat center/150%;
  background-size: cover;
}
.card__content--3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
    url(../img/img3.jpg) no-repeat center/150%;
  background-size: cover;
}

.card__title {
  color: white;
  margin: 18rem 2rem 1rem 1rem;
  font-size: x-large;
}

.card__text {
  color: white;
  padding: 1rem;
  display: none;
}

.card__button {
  color: white;
  width: 8rem;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 2rem;
  background-color: #44a678;
  border-style: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 45);
}

.card__button:hover {
  color: #44a678;
  background-color: white;
  opacity: 90%;
}
/*_______________________FIN CARDS____________________________________  */

/*_______________________FOOTER_______________________________________*/
footer {
  background-color: #0d0d0d;
  grid-area: footer;
}
.redes {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1rem;
}

.iconosredes i {
  padding: 0.5rem 0.5rem;
  font-size: 2rem;
}

.iconosredes i:hover {
  opacity: 0.5;
}

.copyright {
  color: white;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
}
.copyright a {
  color: white;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
}

.copyright a:hover {
  color: #b6f2ec;
  text-decoration: underline;
}

/* CONSTELAR PAGE */

.constelar {
  padding: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.884), transparent),
    url(../img/constelar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.constelar__intro {
  padding: 2rem;
  color: white;
  margin: 2rem 2rem 2rem 2rem;
  text-align: center;
  max-width: 100%;
}
.constelar__subtitulo {
  font-size: 1rem;
  text-align: center;
  text-transform: none;
  font-weight: 400;
  display: inline-block;
}

.remarcar {
  font-weight: 900;
}
.constelar__titulo {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 900;
  display: inline-block;
  padding: 2rem;
}

.video {
  display: flex;
  justify-content: center;
}

/* NOSOTORS PAGE */
.nosotros {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.884), transparent),
    url(../img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 8rem;
}
.nosotros__title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  padding-bottom: 2rem;
}
.nosotros__subtitle {
  color: white;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 100;
}

/* ________________________________AGENDA__________________________________ */

.agenda {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.fondoagenda {
  background: linear-gradient(rgba(0, 0, 0, 0.884), transparent),
    url(../img/agenda.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.agenda__eventos {
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
}

.agenda__indicaciones {
  padding: 1rem;
}

.agenda__calendario {
  color: white;
  margin-top: 2rem;
  background-color: #44a678;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 45);
  font-size: 1.5rem;
  justify-content: center;
}

.agenda__reserva {
  padding: 1rem;
  margin-top: 2rem;
}
.agenda__boton {
  color: white;
  text-transform: uppercase;
  background-color: #44a678;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5rem;
  margin: 15px;
  border-style: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 45);
  margin-bottom: 10rem;
}

.agenda__boton:hover {
  opacity: 50%;
}

/* _________________________CONTACTO_____________________ */

.contacto {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.884), transparent),
    url(../img/contacto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacto__boton {
  color: white;
  text-transform: uppercase;
  background-color: #44a678;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5rem;
  margin: 15px;
  border-style: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 45);
  margin-bottom: 5rem;
}

.contacto__boton--white {
  color: #44a678;
  text-transform: uppercase;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5rem;
  margin: 15px;
  border-style: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 45);
  margin-bottom: 5rem;
}
.contacto__input {
  padding: 1rem;
}
.contacto__boton:hover {
  opacity: 70%;
}

.contacto__boton--white:hover {
  opacity: 70%;
}

.contacto__form {
  padding-top: 5rem;
  background-color: #0d0d0d75;
  justify-content: center;
}
/* -------------------------- FULL SCREEN -------------------------- */
@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1320px;
  }
  .principal {
    padding: 4rem 4rem 18rem 4rem;
  }
  /*NAV en fullscreen*/
  .nav {
    margin: 2.3rem 0 2rem 0;
    visibility: visible;
  }

  .nav__list {
    list-style: none;
    display: flex;
  }

  .nav__item {
    margin: 0 0 0 1.5rem;
  }

  .nav__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
  }

  .nav__link:hover {
    opacity: 0.5;
  }

  /*CARDs en fullscreen*/

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
  }

  .card__content {
    margin: 1rem;
    max-width: 20rem;
    height: 25rem;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 45);
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
  }
  .card__content:hover {
    margin: 1rem;
    max-width: 21rem;
    height: 25rem;
    transition: ease-in-out 0.1s;
  }
  /* CARD 1 */
  .card__content--1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
      url(../img/img1.jpg) no-repeat center/150%;
    background-size: cover;
  }
  .card__content--1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
      url(../img/img1.jpg) no-repeat center/150%;
    background-size: cover;
  }
  /* CARD 2 */
  .card__content--2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
      url(../img/img2.jpg) no-repeat center/150%;
    background-size: cover;
  }
  .card__content--2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
      url(../img/img2.jpg) no-repeat center/150%;
    background-size: cover;
  }
  /* CARD 3 */
  .card__content--3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
      url(../img/img3.jpg) no-repeat center/150%;
    background-size: cover;
  }
  .card__content--3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
      url(../img/img3.jpg) no-repeat center/150%;
    background-size: cover;
  }

  .card__title {
    color: white;
    margin: 15rem 2rem 0rem 2rem;
    font-size: large;
  }

  .card__text {
    color: white;
    display: block;
    font-weight: lighter;
  }

  .card__button {
    color: white;
    text-transform: uppercase;
    background-color: #44a678;
    padding: 1rem;
    border-radius: 5rem;
    margin-bottom: 5rem;
    border-style: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 45);
  }

  .card__button:hover {
    color: #44a678;
    background-color: white;
    opacity: 90%;
  }
}
/* Colores

#B6F2EC Celeste
#44A678 Verde 1
#63BF71 Verde 2
#8DBF41 Verde 3
#0D0D0D Negro
*/
